@import '../utils/';

.temperatureContainer {
  display: flex;
  height: 90px;
  .temperature {
    margin: 0 auto;
    h1 {
      margin-top: -8px;
      @include text($white, 135, $fontLight, 135, center, uppercase, 100);
    }
  }
  .temperatureDetails {
    color: white;
    @include flex('', space-between, column, 1);
    .tempCelcious {
      @include text($white, 30, $fontLight, 30, right, '', 2);
    }
  }
}
