@import '../utils/';

.citiesContent {
  @include grid('grid-template-columns', 3, 5, 2);
  margin: 25px auto 0;
  max-width: 650px;
  width: 100%;
  text-align: center;
  button {
    color: white;
    font-size: 40px;
    font-weight: 200;
    background: none;
    border: none;
  }
}
