.citiesContent {
  @include grid('grid-template-columns', 3, 5, 2);
  margin: 25px auto 0;
  max-width: 650px;
  width: 100%;
  text-align: center;
  a {
    @include text($white, 40, $fontThin, 40, '', '', 30);
    cursor: pointer;
  }
}
