@import '../utils/';

.maxminContent {
  @include flex(center, '', '', 0.6);
  svg {
    max-width: 8px;
    width: 100%;
    fill: $white;
    opacity: 0.6;
  }

  .maxminItems {
    @include flex(flex-end, space-between, column, 0.6);
    height: 80%;

    & > span {
      @include text($white, 20, $fontThin, 12, center, uppercase, 80);
    }
  }
}
