.content {
  background-color: $black;
  transition: 0.3s;
  .container {
    height: 100vh;
    @include flex(center, center, column, 3);

    @import '../components/title';
    @import '../components/temperatures';
  }

  &.light {
    * {
      fill: $white;
      color: $white;
    }
  }
  &.dark {
    * {
      fill: $black;
      color: $black;
    }
  }
}
