.homeContent {
  background-color: $black;
  height: 100vh;
  .homeContainer {
    overflow: auto;
    height: 100%;
    padding: 4rem 0;
    @include flex(center, center, column, 3, '');

    @import '../components/title';
    @import '../components/world';
    @import '../components/cities';
  }

  * {
    color: $white;
  }
}
