.homeContent {
  background-color: $black;
  height: 100%;
  min-height: 100vh;
  .homeContainer {
    height: inherit;
    min-height: inherit;
    overflow: auto;
    padding: 4rem 0;
    @include flex(center, center, column, 3, '');

    @import '../components/title';
    @import '../components/world';
    @import '../components/cities';
  }

  * {
    color: $white;
  }
}
