.homeContent {
  background-color: $black;
  .homeContainer {
    height: 100vh;
    @include flex(center, center, column, 3);

    @import '../components/title';
    @import '../components/world';
    @import '../components/cities';
  }

  * {
    color: $white;
  }
}
