@import '../utils/';

.content {
  background-color: $black;
  .container {
    height: 100vh;
    @include flex(center, center, column, 3);

    .temperatureContainer {
      display: flex;
      height: 90px;
      .temperatureDetails {
        color: white;
        @include flex('', space-between, column, 1);
        .tempCelcious {
          @include text($white, 30, $fontLight, 30, right, '', 2);
        }
      }
    }
  }

  @import '../components/cities.module.scss';
}
