@mixin font-size($size-value: $font-size) {
  font-size: calc($size-value / $font-size) + rem;
}

//  Define a base da fonte que pretende utilizar (valores ja são convertidos em rem).
//  @mixin Font Size
//  @section Font
//  @param $size-value Seta o tamanho da fonte definido na variavel '$font-size'
//  @example
//    @include font-size($font-size);
//    @include font-size(16);

$font-size: 16; // tamanho padrão
$line-height: 16; // tamanho padrão

@mixin line-height($size-value: $line-height) {
  line-height: calc($size-value / $line-height) + rem;
}

@mixin letter-spacing($letterspacing) {
  letter-spacing: calc($letterspacing / 1000) * 1em;
}

//  @include text(color, font-size, font-weight, line-height, text-align, text-transform, letter-spacing);

@mixin text(
  $color: $black,
  $fontSize: $font-size,
  $fontWeight: $fontRegular,
  $line-height: $line-height,
  $textAlign: left,
  $textTransform: initial,
  $letterspacing: $letterspacing
) {
  color: $color;
  @include font-size($fontSize);
  font-weight: $fontWeight;
  @include line-height($line-height);
  @include letter-spacing($letterspacing);
  text-align: $textAlign;
  text-transform: $textTransform;
}

//  @include flex(align-items, justify-content, flex-direction, gap);

@mixin flex($align, $justify, $direction, $gap) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
  @if ($direction) {
    flex-direction: $direction;
  } @else {
    flex-direction: row;
  }
}
