//Weights
$fontThin: 100;
$fontLight: 300;
$fontRegular: 400;
$fontSemiBold: 600;
$fontBold: 700;
$fontBlack: 900;

//Colors
$white: #fff;
$black: #0F0F0F;
$black-text: #1F1F1F;
$grey-1: #3C4353;
$grey-2: #616978;
$grey-3: #E0E0E0;
$grey-4: #A6A6A6;
$turquoise-1: #56CBDB;
$turquoise-2: #3BA1B5;
$dark-blue-1: #004285;
$dark-blue-2: #003061;

//Linear Backgrounds
$background-blue: linear-gradient(0deg, $grey-1 100%, $grey-2 0%);
